body {
  font-family: "Poppins", sans-serif;
}

/* Navigation */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #00abf0;
}

.navbar-brand {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar-nav {
  font-size: 18px;
  text-decoration: none;
  margin-left: auto;
  padding-left: 35px;
}

.navbar .nav-link {
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  color: #ededed;
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: #000000;
}

/* Section */
section {
  padding-top: 100px;
}

/* Page Content */
.foto {
  display: flex;
  padding-top: 160px;
  justify-content: center;
  align-items: center;
  background-color: #00abf0;
}

.foto h1 {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 56px;
  font-weight: 700;
  color: #ededed;
}

/* About Me */
#me {
  color: #081b29;
}
#me h1 {
  padding-bottom: 20px;
}

/* Education */
#edu {
  background-color: #00abf0;
}

#edu h1 {
  color: #ededed;
  padding-bottom: 30px;
}

/* Contact */
#contant {
  color: #081b29;
}

/* Footer */
#footer {
  background-color: #00abf0;
  color: #ededed;
}
